
  <style>
    /* Custom styles for sidebar */
    #sidebar {
      min-height: 100vh;
      width: 250px; /* Adjust sidebar width */
      display: flex;
      flex-direction: column;
      justify-content: space-between; 
    }

    #top-section {
      flex-grow: 1;
    }

    #botton-section {
      margin-top: auto;
    }
    #bottom-section .nav-item + .nav-item {
      margin-top: 2px; /* Adds 1px gap between the list items */
    }


    #sidebar img {
      width: 100%; /* Make logo span the width of the sidebar */
      max-height: 100px; /* Optional: Limit the height */
      object-fit: contain; /* Maintain aspect ratio */
      margin-bottom: 20px; /* Add spacing below the logo */
    }

    .logo {
      max-width: 70px;
      height: auto;
    }
    

  </style>

  <div class="d-flex">
    <!-- Sidebar -->
    <div id="sidebar" class="bg-light border-end p-3">
      <!-- Logo Section -->
      <%= image_tag 'logo.svg', alt: 'Logo', class: 'logo' %>
      <br>
      <!-- Top Section -->
      <div id= "top-section" >
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to "Add New Task", new_task_path, class: "btn btn-success" %>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Assigned Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Task by Deadline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Task by Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Tasks</a>
          </li>
        </ul>
      </div>
      <!-- Bottom Section -->
      <div id="bottom-section">
        <ul class="nav flex-column">
          <li class="nav-item">
              <%= button_to 'Settings', destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary w-100" %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <!-- Show log out button if user is logged in -->
              <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger w-100" %>
            <% else %>
              <!-- Show log in button if user is not logged in -->
              <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-primary w-100" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <!-- Main Content -->
    <div class="flex-grow-1 p-3">
      
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </>
